<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tutorial ReatJs + SEO</title>
    <meta name="description" content="How to make SEO friendly websites with React">
    <!-- css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      h1 { margin-bottom: 30px; }
      .btn-primary { margin-left: 8px }  
    </style>
  </head>
  
  <body>
    <div class="container">
      <div class="header clearfix">
        <h1 class="text-muted">REACT + SEO</h1>
      </div>
    
      <div class="jumbotron">
        <h1>React can be SEO friendly</h1>
        <p class="lead">This is my next christmas wish list, please add your wishes!</p>
      </div>
      
      <div id="app"><%- seo %></div>
    
    </div> <!-- /container -->
      
    <!-- Javascript -->
    <script src="/js/bundle.js"></script>
  </body>
</html>
